a
  color: #0c5394

.article
  font-family: Avenir, Helvetica, Arial, sans-serif
  margin 20px
  &-title
    font-weight bold
    font-size 23px

  &-date
    margin-top 15px
    margin-bottom 15px
    font-size 14px
    color gray
  &-comments
    margin-top 20px